<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.css">
  <link rel="stylesheet" href="../style.css">
  <title>Photosynthesis and Cellular Respiration</title>

</head>

<body>
  <header>
    <div id="top" class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Identify the products of photosynthesis</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <audio src="../recordings/The-chemistry-of.m4a" controls="controls"></audio>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <p>
          The chemistry of photosynthesis is shown below:
        </p>
        <p>
          Solar Energy + 6H2O (l) + 6CO2(g) → C6H12O6 (glucose) + 6O2(g)
        </p>
        <p>
          Autotrophs store energy from the sun in the form of glucose.
        </p>
        <p>
          Cellular respiration is basically the opposite of photosynthesis, as shown below:
        </p>
        <p>
          6O2(g) + C6H12O6 (glucose) → 6H2O (l) + 6CO2(g) + energy
        </p>
        <p>
          As you can see from the chemical equation, energy is released in the
          process of cellular respiration. Heterotrophs use this process to
          release the chemical energy stored in the autotrophs they eat.
          It is important to note that all organisms use cellular respiration to
          power their growth, even autotrophs. Autotrophs undergo photosynthesis
          during the day, when solar energy is present, but at night they only
          respire.
        </p>
      </div>

      <div class="col-sm-4">
        <img src="../images/energy-cycle.jpg" width="400">
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="cfuenergy.html">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="../index.html">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="cfuenergy.html">2</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="productenergy.html">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="productoxygen.html">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="cfuproduct.html">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="productoxygen.html">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

</body>

<footer>
</footer>

</html>
