<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.css">
  <link rel="stylesheet" href="../style.css">
  <title>Photosynthesis and Cellular Respiration</title>
</head>

<body>
  <header>
    <div id="top" class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Identify the products of photosynthesis</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <audio src="../recordings/Look-at-the.m4a" controls="controls"></audio>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <p>
          Look at the chemical process again:
        </p>
        <p>
          Solar Energy + 6H2O (l) + 6CO2(g) → C6H12O6 (glucose) + 6O2(g)
        </p>
        <p>
          In addition to storing energy in the form of glucose, autotrophs
          release oxygen into the atmosphere during photosynthesis.
          Overall, autotrophs make more oxygen during photosynthesis than they
          consume during respiration, so there is a net production of oxygen.
        </p>
      </div>

      <div class="col-sm-4">
        <img src="../images/photosynthesis-salon.png" width="250">
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="productenergy.html">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="../index.html">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="cfuenergy.html">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="productenergy.html">3</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="productoxygen.html">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="cfuproduct.html">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="cfuproduct.html">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

</body>

<footer>
</footer>

</html>
